.empty-msg {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  align-items: center;
}

.cart {
  flex-direction: column;
  gap: 1rem;
  display: flex;
  margin: 1rem 2rem;
  height: 100%;
  margin-bottom: 8rem;
}
